h1{text-align: center;color: #ffe478;}

body{
    font-family: 'Ubuntu', sans-serif;

    background-image: url("bkg.png");
    background-repeat: repeat;

    color: blue;
}

#info:hover{
    color:#ffffff;
}
#use:hover{
    color:#ffffff;
}
#build:hover{
    color: #ffffff;
}
#links:hover{
    color: #ffffff;
}
.build{color:#5e315b;}
.links{color:#8c3f5d;}
.use{color:#ba6156;}
.info{color:#f2a65e;}

a{color:#8c3f5d;}
