h1{text-align: center;color: #ffe478;}



h2{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    font-family: 'Ubuntu', sans-serif;


    color: blue;
    
    background-image:url("bkg.png");
    background-repeat:repeat;
}
/*background-color: #272736;*/
#info:hover{
    color:#ffffff;
}
#use:hover{
    color:#ffffff;
}
#build:hover{
    color: #ffffff;
}
#links:hover{
    color: #ffffff;
}
#citations:hover{
    color: #ffffff;
}
.build{color:#ffb5b5;}
.links{color:#8c3f5d;}
.use{color:#ba6156;}
.info{color:#f2a65e;}
.citations{color:#eb564b;}
a{color:#8c3f5d;}
