body{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

    background-image: url("bkg.png");
    background-repeat: repeat;

    color: #0fcdff;
}

#info:hover{
    color:#ffffff;
}
#use:hover{
    color:#ffffff;
}
#links:hover{
    color: #ffffff;
}
